<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h5>&copy; 2018 Artifact Armory. All Rights Reserved.</h5>
			</div>
			<div class="col-lg-4 text-center">
				<a mailto="contact@artifactarmory.com"><h5><i class="fas fa-envelope"></i> Inquiries</h5></a>
			</div>
			<div class="col-lg-4 text-right">
				<h5 id="social-title">Follow Us: </h5>
				<ul class="footer-social-nav">
					<li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i> Twitter</a></li>
					<li><a href="https://www.twitter.com"><i class="fab fa-facebook"></i> Facebook</a></li>
					<li><a href="https://www.twitter.com"><i class="fab fa-twitch"></i> Twitch</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>