<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
       <li>
        <a href="/">Artifact Armory</a>
      </li>
      <li class="active">
        <a href="/"><span class="fas fa-home"></span> Home</a>
      </li>
      <li>
        <a href="/"><span class="fas fa-bullhorn"></span> News</a>
      </li>
      <li>
        <a href="/"><span class="fas fa-car"></span> Features</a>
      </li>
      <li>
        <a href="/"><span class="fas fa-play"></span> How To Play</a>
      </li>
      <li>
        <a href="/"><span class="fas fa-chess"></span> Cards</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (locals.user) { %>
      <li class="navbar-right">
        <a href="/logout"><span class="fas fa-sign-out-alt"></span> Logout</a>
      </li>
      <li class="navbar-right">
        <a href="/profile"><span class="far fa-user-circle"></span> Your Profile</a>
      </li>
      <% } else { %>
      <li class="navbar-right">
        <a href="/login"><span class="fas fa-sign-in-alt"></span> Sign In</a>
      </li>
      <li class="navbar-right" id="js-modal-action-sign-up">
        <!--data-toggle="modal" data-target="#signupModal"-->
        <a href="/signup"><span class="fas fa-user-plus"></span> Register New Account</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
