<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
       <li>
        <a href="/">Artifact Armory</a>
      </li>
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-bullhorn"></span> News</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-screenshot"></span> Features</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-play"></span> How To Play</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-king"></span> Cards</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
      </li>
      <li class="navbar-right" id="js-modal-action-sign-up" data-toggle="modal" data-target="#signupModal">
        <a href="#"><span class="glyphicon glyphicon-plus"></span> Register New Account</a>
      </li>
    </ul>
  </div>
</nav>
