<!DOCTYPE html>
<html>
<head>
	<% include partials/header %>
</head>
<body>

	<% include partials/nav %>

	<% for(i = 0; i < articles.length; i++) { %>
		<% include partials/article-preview %>
	<% } %>

	<% include partials/modal %>

	<% include partials/footer %>

</body>
</html>