<!DOCTYPE html>
<html>
<head>
  <% include partials/header %>
</head>

<body>

  <% include partials/nav %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>
          <img src="http://via.placeholder.com/450x300" class="img-responsive">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>
          <img src="http://via.placeholder.com/450x300" class="img-responsive">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>
          <img src="http://via.placeholder.com/450x300" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <% var i = 0; %>
        <% include partials/article-preview %>
      </div>
      <div class="col-md-6">
        <% var i = 1; %>
        <% include partials/article-preview %>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    
  </div> 
</div>


  <% include partials/footer %>
  
</body>
</html>
