.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.article_preview_link {
  color:inherit;
  text-decoration:none;
}

a.article_preview_link:link,
a.article_preview_link:hover,
a.article_preview_link:active {
  color:inherit;
  text-decoration:none;
}

a.article_preview_link:hover {
  background-color:black;
}

.article_preview_container {
	width:100%;
	height:150px;

  margin-top:20px;
}

.article_preview_img_container {
  width:30%;
  height:150px;

  display:inline-block;
  float:left;

  overflow:hidden;
}

.article_preview_text_container {
  width:70%;
  height:150px;

	padding-left:20px;
	margin:0;

  background-color:inherit;

  display:inline-block;
  float:left;
}

footer {
  background-color: #222;
  color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
}
footer a {
  color: #FFF;
}
footer #social-title {
  display: inline-block;
}
footer ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}
footer ul li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.article_feature_slider {
  width:100%;
  height:250px;

  background-image:url('http://via.placeholder.com/1170x250');
  background-size:cover;
  background-position:center;
}

.article_feature_slide_indicator {
  width:10px;
  height:10px;

  margin-right:5px;
  margin-top:10px;

  position:relative;
  float:right;

  background-color:#333333;
  border-radius:50%;
}

.article_feature_slide_indicator.active {
  background-color:#999999;
}